{% extends 'projects/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
   <div class="row display-news">
       <!-- Loop through news -->
       {% for item in projects %}
       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 articles-home">
           {% if item.article_image.url %}
           <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
           {% else %}
           <p></p>
           {% endif %}
           <h2> {{news_item.title}} </h2>
           <hr>
           <p> {{news_item.post|truncatechars:400}}<a href="/article/{{news_item.id}}" class="btn btn-link">Read more</a></p>
               <p class="small"> Tags:
                   {% for tag in news_item.tags.all %}
                   {{tag}}
                   {% endfor %}
               </p>
           <p> {{news_item.editor}} </p>
           <p class="small">Posted on: {{news_item.pub_date}} </p>
       </div>
       {% empty %}
       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
           <h2> No Articles today </h2>
       </div>
       {% endfor %}        
   </div>
</div>
{% endblock %}